@import '../../../theming/_palette.scss';
@import '../../../theming/varibles.scss';

.card {
  margin-top: 30px;
  margin-bottom: 30px;
  background: $background-paper;
  box-shadow: 0px 4px 15px $box-shadow;
  border-radius: $radius;
  padding: 0px 12px;
}

@media (max-width: 768px) {
  .card {
    background: transparent;
    box-shadow: none;
  }
}
