<div class="actions__container">
  <div class="search-container">
    <img class="search-icon" src="../assets/input/search.svg" />
    <input type="text" class="search-input" placeholder="Search" />
  </div>
  <div class="actions__container-filter">
    <button class="btn btn-secondary">
      <img src="../assets/filter.svg" alt="" />
      Filter
    </button>
  </div>
  <div class="actions__container-new">
    <button class="btn btn-primary">
      <img src="../assets/add.svg" alt="" />
      New hire
    </button>
  </div>
  <div class="actions__container-date">
    <select name="" id="">
      <option value="Contract type">
        <span>Create on: Jan/10/21 - Jan/28/21</span>
      </option>
    </select>
  </div>
  <div class="actions__container-contract">
    <select name="" id="">
      <option value="Contract type">Contract type</option>
    </select>
  </div>
  <div class="actions__container-contractor">
    <input type="text" class="input" placeholder="Contractor Name" />
  </div>
  <div class="actions__container-status">
    <select name="" id="">
      <option value="Contract type">Status</option>
    </select>
  </div>
</div>
