$background-paper: #ffffff;
$background-default: #F9F9F9;
$primary: #FF5A70;
$black: #000000;
$success: #36CF82;
$success-opacity: rgba(54, 207, 130, 0.18);
$warning: #F29D42;
$warning-opacity: rgba(242, 157, 66, 0.3);
$grey: #898989;
$grey-900: #1C0B11;
$grey-800: #989B9B;
$grey-700: #DADADA;
$grey-500: #3B3B3B;
$grey-300: #C4C4C4;
$grey-200: #EBEBEB;
$box-shadow: rgba(0, 0, 0, 0.1);
