<nav class="navbar">
  <div>
    <img src="../assets/logo.svg" alt="" srcset="" />
  </div>
  <ul class="navbar__container-option">
    <li class="active">
      <i class="fa-regular fa-user"></i>
      <p>Contracts</p>
      <i class="fa-solid fa-chevron-down"></i>
    </li>
    <li>
      <i class="fa-solid fa-file-contract"></i>
      <p>Documents</p>
      <i class="fa-solid fa-chevron-down"></i>
    </li>
    <li>
      <i class="fa-solid fa-credit-card"></i>
      <p>Payouts</p>
      <i class="fa-solid fa-chevron-down"></i>
    </li>
    <li>
      <i class="fa-solid fa-calendar"></i>
      <p>Time</p>
      <i class="fa-solid fa-chevron-down"></i>
    </li>
  </ul>
  <div class="navbar__container-profile">
    <img
      src="../assets/navbar/profile.png"
      alt="user-profile-picture"
      height="65px"
      width="65px"
    />
    <i class="fa-solid fa-chevron-down"></i>
  </div>
  <div class="navbar__container-menu">
    <i class="fa-solid fa-bars"></i>
  </div>
</nav>
